<!DOCTYPE html>
<html>
  <head>
    <title>MitreMediaSentencesAndEntities</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      <% types = Entity.all.pluck(:type_of).uniq %>
      <% types.each do |type|%>
      span.entity[data-type-of="<%= type%>"] {
          background-color: <%= "#" + SecureRandom.hex(3) %>
      }
      <% end %>
    </style>




  </head>

  <body>
    <%= yield %>
  </body>
</html>
